<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net46" />
  <package id="Prism.Core" version="7.0.0.362" targetFramework="net46" />
  <package id="Prism.Unity" version="6.3.0" targetFramework="net46" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net46" />
  <package id="Unity" version="5.5.5" targetFramework="net46" />
</packages>